{% extends "base.html" %}
{% block title %}Export{% endblock %}
{% block content %}
  <h1>Export transactions</h1>
  <form method="get" action="{{ url_for('export_download') }}">
    <fieldset>
      <legend>Range</legend>
      <label><input type="radio" name="range_type" value="day" checked> Day
        <input type="date" name="date" value="{{ today }}">
      </label>
      <br>
      <label><input type="radio" name="range_type" value="month"> Month
        <input type="month" name="month">
      </label>
      <br>
      <label><input type="radio" name="range_type" value="year"> Year
        <input type="number" name="year" min="2000" max="2100">
      </label>
    </fieldset>
    <fieldset>
      <legend>Format</legend>
      <label><input type="radio" name="format" value="csv" checked> CSV</label>
      <label><input type="radio" name="format" value="xlsx"> Excel (.xlsx)</label>
    </fieldset>
    <button type="submit">Download</button>
  </form>
{% endblock %}
